<!DOCTYPE html>
<html>
  <head>
    <title>Lindsaydages</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Muli|Ovo" rel="stylesheet">
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <!-- <%= link_to 'sign up', new_admin_registration_path %>
    <%= link_to 'sign in', new_admin_session_path %>
    <%= link_to 'sign out', destroy_admin_session_path, method: :delete %> -->
    <%= yield %>
  </body>
</html>
